{% extends "customer_devices_pages/layout.html" %}

{% block content %}
<form method="POST">
    <div class="form-group">
        <label for="customerId">CUSTOMER ID</label>
        <input type="text" class="form-control" id="customerId" name="customerId" required>
    </div>
    <div class="form-group">
        <label for="deviceTypeId">DEVICE TYPE ID</label>
        <input type="text" class="form-control" id="deviceTypeId" name="deviceTypeId" required>
    </div>
    <div class="form-group">
        <label for="port">PORT</label>
        <input type="text" class="form-control" id="port" name="port" required>
    </div>
    <div class="form-group">
        <label for="ipHost">IP HOST</label>
        <input type="text" class="form-control" id="ipHost" name="ipHost" required>
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
{% endblock %}